body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./bgpic.jpg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: grid;
  padding: 30px 50px;
}
.add{
  width: 10%;
  background-color: rgb(200, 203, 241);
  margin-left: 45%;
  padding: 5px;
}


.content{
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 255, 255, 0.721);
  width: 300px;
  height:200px;
  margin-left: 500px;
  margin-top: 200px;
}

.delete,.update{
  width: 20%;
  border-radius: 8px;
  background-color: rgb(73, 48, 234);
  color: white;
}
.display{
  display: grid;
  justify-content:center;
  align-items: center;
}
.container-element{
color:black;
 background-color: #f3fafa56;
 width: 500px;
 height:150px;
}
.submit{
  background-color:rgb(118, 216, 246);
 
}

